.botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .botones a {
    width: 200px;
    height: 200px;
    margin: 10px;
    display: block;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 20px; }
    .botones a:first-child {
      background: #295A5F;
      border-bottom: 10px solid #1a383b;
      border-right: 10px solid #1a383b; }
    .botones a:nth-child(2) {
      background: #8BB58F;
      border-bottom: 10px solid #6ca171;
      border-right: 10px solid #6ca171; }
    .botones a:nth-child(3) {
      background: #BBDEBD;
      border-bottom: 10px solid #99cd9c;
      border-right: 10px solid #99cd9c; }
    .botones a:last-child {
      background: #EFF3D2;
      border-bottom: 10px solid #e1e8aa;
      border-right: 10px solid #e1e8aa; }

h1 {
  text-align: center;
  font-size: 25px;
  margin-top: 20px; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100% !important; }

.compartido {
  position: relative; }

.cuadro_search {
  position: absolute;
  left: 5px;
  background: white;
  border: 1px solid #cccccc;
  width: 81%;
  top: 45px;
  border-radius: 2px; }

.resultado_busqueda, .titulo_busqueda {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.titulo_busqueda {
  font-weight: bolder;
  background: #fcfcfc;
  cursor: auto; }

.resultado_busqueda:hover {
  background: #8cb7ff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
