.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    a{
        width: 200px;
        height: 200px;
        margin: 10px;
        display: block;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        &:first-child{
            background: #295A5F;
            border-bottom: 10px solid darken(#295A5F,10);
            border-right: 10px solid darken(#295A5F,10);
        }
        &:nth-child(2){
            background: #8BB58F;
            border-bottom: 10px solid darken(#8BB58F,10);
            border-right: 10px solid darken(#8BB58F,10);
        }
        &:nth-child(3){
            background: #BBDEBD;
            border-bottom: 10px solid darken(#BBDEBD,10);
            border-right: 10px solid darken(#BBDEBD,10);
        }
        &:last-child{
            background: #EFF3D2;
            border-bottom: 10px solid darken(#EFF3D2,10);
            border-right: 10px solid darken(#EFF3D2,10);
        }
    }
}
h1{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100% !important;
}
.compartido{
    position: relative;

}
.cuadro_search{
    position: absolute;
    left: 5px;
    background: white;
    border: 1px solid #cccccc;
    width: 81%;
    top: 45px;
    border-radius: 2px;
}
.resultado_busqueda,.titulo_busqueda{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all .3s;
}
.titulo_busqueda{
font-weight: bolder;
    background: #fcfcfc;
    cursor: auto;
}
.resultado_busqueda:hover{
    background: #8cb7ff;
    transition: all .3s;
}